.KanBan {
    display: flex;
    position: relative;
    margin: 10px 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    height: fit-content;
}

.KanBan p {
    position: relative;
}

.KanBan p button {
    position: absolute;
    top: 3px;
    left: 5px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0px;
    height: 25px;
    width: 25px;
    background-color: white
}